.register {
	padding-bottom: 140rpx;

	.info_box {
		background-color: #fff;
		.info_item{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 30rpx;
			height: 100rpx;
			border-bottom: 1rpx solid #eee;
			.label{
				min-width: 120rpx;
				width: 120rpx;
			}
			.required{
				:after {
					content: '*';
					color: red;
					padding-left: 10rpx;
				}
			}
			.u-input,input{
				text-align: right!important;
			}
		}
		// 更多信息
		.moreInfo{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30rpx;
			.infoName{
				font-size: 36rpx;
				text{
					font-size: 24rpx;
					color: #999;
				}
			}
		}
		.title {
			font-size: 30rpx;
		}
		.followWrap{
			border-top: 20rpx solid #f6f6f6;
			border-bottom: 20rpx solid #f6f6f6;
		}
		.u-input__textarea {
			min-height: 0 !important;
			line-height: 40rpx;
		}

		.u-btn--success {
			background-color: #03958C;
			border-color: #03958C;
		}
		.followTextarea{
			.u-form-item--left{
				align-items: flex-start;
			}
			textarea{
				width: 100%;
				height: 200rpx;
			}
		}
	}
	// picker样式修改
	.flexBet{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.phcolor{
		font-size: 28rpx;
		color: #c0c4cc;
	}
	// h5持有样式
	/* #ifdef H5 */
	.phcolor{
		font-size: 11px;
	}
	/* #endif */
}